*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #121212;
}
.text{
    color: #fff;
    word-spacing: -2px;
    font-size: 25px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    -webkit-box-reflect: below -9px linear-gradient(transparent,rgba(0,0,0,0.35));
}
.text span{
    position: relative;
    display: inline-block;
    animation: animate 5s ease-in-out infinite;
    animation-delay: calc(0.15s * var(--i));
}
@keyframes animate {
    0%{
        transform:translateY(0);
    }
    20%{
        transform:translateY(-55px);
    }
    40%,100%{
        transform:translateY(0);
    }
}
